<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='/strava-logo.png') }}">
    <title>Strava Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
</head>
<body>
    <nav>
        <h1>Seán Kelly's Strava Dashboard</h1>
        <ul><li><a href="https://www.strava.com/athletes/62420116">Athlete Profile</a></li></ul>
    </nav>
    
    <footer>
        <p>Developed by Seán Kelly (2026) - <a href="https://github.com/sean-kelly0/RunningDashboard">GitHub Repo</a></p>
    </footer>
</body>
</html>